{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
        This demo demonstrates how we can gamify something as simple as walking up and down stairs.
    </p>
    
    <ul>
          <li><a href="https://developer.mapmyapi.com/">MapMyFitness API</a></li>
          <li><a href="https://github.com/mapmyfitness/mmf-api-demo-mapmystairs">Get the Code</a></li>
    </ul>
    
    <br/>
    

{% endblock %}