{% extends "base.html" %}
{% block title %}{{ stairwell.name }} Leaderboard{% endblock %}

{% block content %}
    
    <div class="page-header">
      <h1>{{ stairwell.name }} Leaderboard</h1>
    </div>

    <h3>Fastest</h3>
    <p>
        {% if leaderboard["fastest_up"] %}
            <strong>Up:</strong> {{ leaderboard["fastest_up"]["time_taken"] }} seconds by {{ leaderboard["fastest_up"]["first_name"] }} @ {{ leaderboard["fastest_up"]["workout_date"] }} <br/>
        {% endif %}
        {% if leaderboard["fastest_down"] %}
            <strong>Down:</strong> {{ leaderboard["fastest_down"]["time_taken"] }} seconds by {{ leaderboard["fastest_down"]["first_name"] }} @ {{ leaderboard["fastest_down"]["workout_date"] }} <br/>
        {% endif %}
    </p>
    
    <hr/>
    
    <h3>Up Leaderboard</h3>
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <th width="50px">&nbsp;</th>
                <th>Person</th>
                <th width="100px">&nbsp;</th>
                <th width="75px">#</th>
                <th width="100px">Min. Time</th>
                <th width="100px">Steps</th>
            </thead>
            <tbody>
            {% for l in leaderboard["list"] if l["direction"] == "up" %}
                
                {% if l["user_id"] == session["user"]["id"] %}
                    {% set class = "info" %}
                {% else %}
                    {% set class = "" %}
                {% endif %}
                
                <tr style="vertical-align: middle;">
                    <td class="{{ class }} vert-align">{{ loop.index }}</td>
                    <td class="{{ class }} vert-align">
                        <a href="http://www.mapmyfitness.com/profile/{{ l["user_id"] }}/">
                            <img src="http://www.mapmyfitness.com/profile/{{ l["user_id"] }}/picture?size=Small" class="img-circle"/>
                            {{ l["first_name"] }} {{ l["last_name"] }}
                        </a>
                    </td>
                    <td class="{{ class }} vert-align">{{ l["direction"] }}</td>
                    <td class="{{ class }} vert-align">{{ l["workout_count"] }}</td>
                    <td class="{{ class }} vert-align">{{ l["min_time_taken"] }}s</td>
                    <td class="{{ class }} vert-align">{{ l["total_number_of_steps"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <hr/>
     
    <h3>Down Leaderboard</h3>
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <th width="50px">&nbsp;</th>
                <th>Person</th>
                <th width="100px">&nbsp;</th>
                <th width="75px">#</th>
                <th width="100px">Min. Time</th>
                <th width="100px">Steps</th>
            </thead>
            <tbody>
            {% for l in leaderboard["list"] if l["direction"] == "down" %}
                
                {% if l["user_id"] == session["user"]["id"] %}
                    {% set class = "info" %}
                {% else %}
                    {% set class = "" %}
                {% endif %}
                
                <tr style="vertical-align: middle;">
                    <td class="{{ class }} vert-align">{{ loop.index }}</td>
                    <td class="{{ class }} vert-align">
                        <a href="http://www.mapmyfitness.com/profile/{{ l["user_id"] }}/">
                            <img src="http://www.mapmyfitness.com/profile/{{ l["user_id"] }}/picture?size=Small" class="img-circle"/>
                            {{ l["first_name"] }} {{ l["last_name"] }}
                        </a>
                    </td>
                    <td class="{{ class }} vert-align">{{ l["direction"] }}</td>
                    <td class="{{ class }} vert-align">{{ l["workout_count"] }}</td>
                    <td class="{{ class }} vert-align">{{ l["min_time_taken"] }}s</td>
                    <td class="{{ class }} vert-align">{{ l["total_number_of_steps"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}